*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(237, 242, 245);
    height: 100vh;
    width: 100vw;
}


.container h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
    background-color: white;
}

img{
    border-radius: 6rem;
    height: 180px;
}

.teamcards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    place-items: center;

}   

.card{
    font-size: 1.2rem;
    
    border-radius: 0.7rem;
    overflow: scroll;
    width: 30vw;
    height: 52vh;
    background-color: white;
    box-shadow: inset;
    box-shadow: 10rem;
    cursor: default;
}

.card:hover{
    background-color: rgb(179, 179, 224);
    transition: 0.8s ease-out;
    transform: translate(7px,-10px);

}

.card :nth-child(2){
    font-weight: 600;
}


a{
    text-decoration: none;
    color: rgb(6, 133, 133);
}

.card img , p{
    padding-left: 15px;
    padding-top: 10px;
}


